/*color scheme
background: #2F3136;
text: #B9BBBE;
maybe header: #202225;
maybe side thingy: #2F3136;
button hover: #393D44;
button press: #3C3F46;
*/

html, body, .container {
    height: 100%;
}

body {
	background-color: #202225;
	color: #B9BBBE;
	margin: 0;
	display: grid;
	grid-template-rows: 6% 1fr;
}



header {
	background-color: #202225;
	padding-top: 0.7vh;
	padding-left: 5px;
}

header text {
	font-size: 4vh;
	font-family: sans-serif;
	font-weight: bold;
}



.wrapper {
	display: grid;
	grid-template-columns: 12.5vh 1fr;
	height: 100%;
}



.sidemenu {
	background-color: #202225;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}

.sidemenu button {
	width: 100%;
	height: 15vh;
	text-align: center;
	/*background-color: #202225;*/
	border: none;

	color: #B9BBBE;
	font-size: 6vh;
	font-family: sans-serif;
	font-weight: lighter;
}

.sidemenu button:hover {
	background-color: #2B2E32;
	/*box-shadow: 30px 0px 30px -20px #AAAAAA;*/
	z-index: 1;
}

.sidemenu button:active {
	background-color: #3C3F46;
	z-index: 2;
}

.button {
	background-color: #202225;
}

.selected_button {
	background-color: #36393F;
}



.main {
	background-color: #36393F;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 10px;
	padding-right: 10px;

	/*border-radius: 15px 0 0 0;*/
}

.main h2 {
	margin-top: 0px;
	margin-bottom: 1vh;

	font-size: 1.6rem;
	font-family: "roboto", sans-serif;
	color: white;

}

.main p, a {
	margin-top: 0px;
	margin-bottom: 1.5vh;

	color: #B9BBBE;
	font-size: 1.2rem;
	font-family: "verdana", sans-serif;
}

.main a {
	color: #0EA4C4;
	text-decoration: none;
	font-size: 1.2rem;
}



.changelog {
	max-width: 83vw;
	padding-left: 1vw;
	padding-top: 1vw;
}

.changelog ul {
	/*margin: auto;*/
	margin-left: auto;
	background-color: #2F3136;

	border-left: 4px solid #0EA4C4;
	border-radius: 5px;
	list-style-type: none;

	padding-left: 3px;
	padding-top: 5px;
	padding-bottom: 5px;
}

.changelog ul text {
	color: white;
	font-size: 1.5rem;
	padding-left: 5px;
	font-family: monospace;
}

.changelog ul li, .changelog ul li a {
	font-family: verdana, sans-serif;
	font-size: 1.2rem;
}

.changelog ul li a {
	font-family: sans-serif;
	font-weight: bold;
}

.changelog ul li {
	/*border-left: 4px solid white;*/
	word-wrap: break-word;
	padding-left: 20px;
	padding-right: 10px; 
	margin-top: 6px;
	margin-bottom: 6px;
}



.info {
	text-align: center;
}

.info text, a {
	font-size: 20pt;
	font-family: verdana;
	color: white;
}

.info a {
	font-size: 20pt;
}

.info img {
	/*width: 100%;*/
	height: 60vh;
}

@media screen and (orientation: portrait){
	.info img {
	width: 100%;
	height: auto;
}