body {
	height: 100vh;
	width: 100vw;
	margin: 0;
}

.main_text {
	background: black;
	height: 65%;

	display: flex;
	overflow: auto;
}

.main_text text {
	color: white;
	font-size: 350%;
	font-family: "comic sans ms", serif;

	margin: auto;
}

.score_text {
	background: black;
	height: 10%;
	font-family: "comic sans ms", serif;

	display: flex;
	overflow: auto;
}

.score_text text {
	color: white;
	font-size: 200%;

	margin: auto;
}

.button_row {
	background: #4B4A45;
	width: 100%;
	height: 25%;
	display: flex;
}

.button {
	display: block;
	flex: 1;
	height: 100%;
	font-family: "comic sans ms", serif;

	background-color: #5A5A5A;
	border: 0;
	color: white;

	font-size: 200%;
}