body {
	width: 100vw;
	height: 100vh;
	margin: 0;
	background-color: #2F3136;
}
@media (max-width: 1000px) {
	body {
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
	}
}


/*transition  **************************/

.green_body{
	animation: green 2s cubic-bezier(0.25, 1, 0.5, 1);
}

@keyframes green {

  0% {
    background: #43B581;
  }

  100% {
    background: #2F3136;
  }
}

/*############################################   main   ###############################################*/

.main_text {
	/*background: #2F3136;*/
	height: 60%;

	display: flex;
	overflow: auto;
}

.main_text text {
	color: #B9BBBE;
	font-size: 7vw;
	font-family: monospace, serif;

	margin: auto;
}

/*############################################   score   #################################################*/

.score_text {
	/*background: #2F3136;*/
	height: 15%;
	font-family: monospace, serif;

	display: flex;
	flex-wrap: wrap;
}

.score_text text {
	width: 50%;

	color: #B9BBBE;
	font-size: 3vw;

	margin: auto;

	display: flex;
	justify-content: center;
}

/*#########################################   buttons   #############################################*/

.button_row {
	/*background: #2F3136;*/
	width: 100%;
	height: 25%;
	display: flex;
}

/*###########                           plain*/

.button {
	background-color: #36393F;

	display: block;
	flex: 1;
	height: 100%;
	font-family: monospace, serif;

	border: 3px solid #2F3136;
	outline: none;
	color: #B9BBBE;
	border-radius: 12px;

	font-size: 2vw;
}

.button:active {
	background-color: #2E3034;
}

/*##########                       red*/

.red_button {
	background-color: #F04747;
}

/*#################          phone fix*/

@media (max-width: 1000px) {
	.main_text text{
		font-size: 7vh;
	}

	.main_text{
		height: 45%;
	}
	
	.score_text text{
		font-size: 4vh;
		flex-basis: 100%;
		height: 50%;
		width: 100%;
		
	}

	.score_text{
		height: 15%;
		flex-wrap: wrap;
	}

	.button_row{
		height: 40%;
		flex-wrap: wrap;
	}

	.button{
		height: 25%;
		width: 100%;
		font-size: 3.7vh;

		flex-basis: 100%;
	}
}

/*@media (max-width: 1000px) {
	.main_text text{
		font-size: 7vh;
	}

	.main_text{
		height: 55%;
	}
	
	.score_text text{
		font-size: 4vh;
		flex-basis: 100%;
		height: 50%;
		width: 100%;
		
	}

	.score_text{
		height: 15%;
		flex-wrap: wrap;
	}

	.button_row{
		height: 30%;
		flex-wrap: wrap;
	}

	.button{
		height: 50%;
		width: 50%;
		font-size: 3.7vh;

		flex-basis: 50%;
	}
}
*/
/*#########################################   overlay   ##########################################*/

#overlay {
	position: fixed; /* Sit on top of the page content */
	display: none; /* Hidden by default */
	width: 100%; /* Full width (cover the whole page) */
	height: 100vh;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0,0,0,0.65); /* Black background with opacity */
	z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
	cursor: pointer; /* Add a pointer on hover */
}
@media (max-width: 1000px) {
	#overlay {
		height: 100vh; /* Fallback for browsers that do not support Custom Properties */
		height: calc(var(--vh, 1vh) * 100);
	}
}
.centeralize_overlay{
	height: 100%;
	display: flex;
	align-content: center;
	justify-content: center;
	flex-direction: column;
}

/*#####################           overlay content*/

.gameover_text{
	color: #B9BBBE;
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 4vw;
	font-family: "comic sans ms", serif;
}

.right_ans_text{
	color: #B9BBBE;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 3vh;
	font-size: 3vw;
	font-family: "comic sans ms", serif;
}

.score_highscore_text{
	color: #B9BBBE;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 1vh;
	font-size: 2vw;
	font-family: "comic sans ms", serif;
}

/*#######################             button*/

.restart_button{
	font-family: monospace, serif;

	background-color: #36393F;
	border: 0;
	outline: none;
	color: #B9BBBE;
	border-radius: 8px;

	font-size: 4vw;

	padding: 5px;
	padding-left: 15px;
	padding-right: 15px;

	margin: 0 auto;
	margin-top: 5vh;

	display: flex;
	justify-content: center;
	align-content: center;
}

.restart_button:active{
	background-color: #2E3034;
}

.restart_button_fix{
	min-width: 0;

	display: flex;
	justify-content: center;
}

/*#################          phone fix*/

@media (max-width: 1000px) {
	.gameover_text {
		font-size: 5vh;
	}

	.right_ans_text{
		font-size: 3vh;
	}

	.score_highscore_text{
		font-size: 2.5vh;
	}

	.restart_button{
		font-size: 5vh;
	}
}